.author-list {
  color: var(--color-secondary-text);
}
.author-list-title {
  margin-bottom: unset;
  font-size: unset;
  font-weight: unset;
  text-transform: unset;
  letter-spacing: unset;
}
.author-name {
  font-size: unset;
  a {
    color: unset;
  }
}