
.site-content {
  display: grid;
  grid-template:
    "cover   cover  " auto
    "content sidebar" auto /
    1fr 400px;

  @media (max-width: 900px) {
    display: block;
  }
}
.site-cover, .post-header { grid-area: cover; }
.site-main { grid-area: content; }
.sidebar { grid-area: sidebar; }

.sidebar {
  padding: 1em;
  border-left: 1px solid #ddd;

  @media (max-width: 767px) {
    margin: 40px auto 0;
    max-width: 450px;
  }

  .kg-gallery-image, .kg-image[width][height] {
    cursor: unset;
  }

  a {
    text-decoration: underline;
  }

  & > *:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
