
#gh-head {
  grid-area: head;
}
.site-cover {
  grid-area: cover;
}
.site-content {
  grid-area: content;
}
.gh-foot {
  grid-area: foot;
}
.sidebar {
  grid-area: sidebar;
}
.site {
  display: grid;
  grid-template:
    "head    head   " auto
    "cover   cover  " auto
    "content sidebar" auto
    "foot    sidebar" auto /
    1fr 400px;

  @media (max-width: 900px) {
    display: flex;
  }
}

.sidebar {
  padding: 1em;
  border-left: 1px solid #ddd;

  @media (max-width: 767px) {
    margin: 40px auto 0;
    max-width: 450px;
  }

  .kg-gallery-image, .kg-image[width][height] {
    cursor: unset;
  }


  & > *:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
